{% extends 'site_base.html' %}
{% block extra-head %}
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script>
var geocoder;

function geocodeAddress(){
    // Geocodes the location input and sets the lat and long fields

    var address, latlng;

    address  = $('#id_start_location').val()
    geocoder.geocode( {'address': address}, function(results, status){
        if (status == google.maps.GeocoderStatus.OK) {
            latlng = results[0].geometry.location;
            $('#id_start_latitude').val(latlng.lat());
            $('#id_start_longitude').val(latlng.lng());
            $('#search_form').data("geocodeset", true).submit();
        } else {
            alert('Geocode was not successful for the following reason: ' + status);
        }

    });
}

function update_slider_inputs(slider_values, min_input_id, max_input_id){
    // Updates form inputs associated with slider
    var min = slider_values[ 0 ],
        max = slider_values[ 1 ];

    $( min_input_id ).val( min );
    $( max_input_id ).val( max );

}

function set_up_sliders(){
    // TODO: think about how to get previous slider selections if the user returns to the search page

    // Set up length slider connected to length min/max inputs
    var initial_min_length = $("#id_min_length").val(),
        initial_max_length = $("#id_max_length").val(),
        length_labels = ["<2 hrs","Half day","Full day","2 days","3+ days"];
        // TODO: Properly associate these with the database hike lengths

    $( "#length_slider" ).labeledslider({
        range: true,
        min: 0,
        max: length_labels.length-1,
        tickLabels: length_labels,
        values: [ initial_min_length, initial_max_length ],
        slide: function( event, ui ) {
            update_slider_inputs(ui.values,"#id_min_length","#id_max_length");
        }
    });

    // Set up radius slider connected to radius min/max inputs
    var initial_min_radius = $("#id_min_radius").val(),
        initial_max_radius = $("#id_max_radius").val(),
        radius_labels = ["0","10","30","100","300"]; 
        // TODO: Think about a better way to make sure these labels align with the values passed to the form, even when we change them?

    $( "#radius_slider" ).labeledslider({
        range: true,
        min: 0,
        max: radius_labels.length-1,
        tickLabels: radius_labels,
        values: [ initial_min_radius, initial_max_radius ],
        slide: function( event, ui ) {
            update_slider_inputs(ui.values,"#id_min_radius","#id_max_radius");
        }
    });

    // Set up terrain slider connected to terrain min/max inputs
    var initial_min_terrain = $("#id_min_terrain").val(),
        initial_max_terrain = $("#id_max_terrain").val(),
        terrain_labels = ["Easy","Medium","Rough","Technical"];

    $( "#terrain_slider" ).labeledslider({
        range: true,
        min: 0,
        max: terrain_labels.length-1,
        tickInterval: 1,
        tickLabels: terrain_labels,
        values: [ initial_min_terrain, initial_max_terrain ],
        slide: function( event, ui ) {
            update_slider_inputs(ui.values,"#id_min_terrain","#id_max_terrain");
        }
    });

}

window.onload = function(){
    geocoder = new google.maps.Geocoder();
    set_up_sliders();

    // $('#id_start_location').blur(geocodeAddress);

    // Delay submit until geocode call has completed
    $('#search_form').submit(function(event){
        if(!$(this).data("geocodeset")){
            geocodeAddress();
            return false;
        }
    })
}

</script>
{% endblock %}
{% block content %}
<form id="search_form" action="{% url 'results' %}">
    <div class="match-slider-padding">
        {{ form.as_p }}
    </div>
    <div class="slider-padding">
        <label for="length_slider">How long of a hike?</label>
        <div id="length_slider" class="slider-margin"> </div>
    </div>
    <div class="slider-padding">
        <label for="radius_slider">How far away?</label>
        <div id="radius_slider" class="slider-margin"> </div>
    </div>
    <div class="slider-padding">
        <label for="terrain_slider">How hard of a hike?</label>
        <div id="terrain_slider" class="slider-margin"> </div>
    </div>
<input type="submit">
</form>
{% endblock %}